# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.bak

# Packages #
############
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
